<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.homemaking.mapper.HomemakingOrderImgMapper">


    <insert id="CompletedOrderImg">
        insert into homemaking_order_img(order_no,user_account,staff_account,img_url,img_type,finish_time,create_time,update_time,is_deleted)
        values(#{orderNo},#{userAccount},#{staffAccount},#{imgUrl},#{imgType},#{finishTime},#{createTime},#{updateTime},#{isDeleted})
    </insert>
</mapper>
